.title-style, .container-sub-title, .container-title {
  width: fit-content;
  color: green;
  border-bottom: 0.0625rem solid blue;
  text-align: center;
  grid-column: span 4;
}

.container {
  color: blue;
  font-size: 1px solid;
  place-items: center;
  text-align: center;
  width: 100%;
  border: 0.125rem solid red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.container-sub-title {
  border: 0.125rem solid red;
  padding: 1rem;
}
.container .articles {
  color: blue;
  font-size: 1rem;
  place-items: center;
  text-align: center;
  width: 100%;
  grid-column: span 4;
  display: flex;
  width: 95%;
}
.container .articles .article {
  color: blue;
  font-size: 1rem;
  place-items: center;
  text-align: center;
  width: 100%;
  border: 0.125rem solid green;
}
.container .articles .article .text {
  height: 6.25rem;
  margin-top: 3.125rem;
}
.container .articles .article:nth-child(odd) .text {
  color: red;
}
.container .fs {
  grid-column: span 4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1.875rem;
  width: 95%;
}
.container .fs-1rem {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 0.0625rem solid red;
  font-size: 1rem;
}
.container .fs-2rem {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 0.0625rem solid red;
  font-size: 2rem;
}
.container .fs-3rem {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 0.0625rem solid red;
  font-size: 3rem;
}
.container .fs div:nth-of-type(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.container .fs div:nth-of-type(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.container .fs div:nth-of-type(3) {
  background-color: #d9d9d9;
  color: #262626;
}
.container .fs div:nth-of-type(4) {
  background-color: #cccccc;
  color: #333333;
}
.container .fs div:nth-of-type(5) {
  background-color: #bfbfbf;
  color: #404040;
}
.container .fs div:nth-of-type(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
}
.container .fs div:nth-of-type(7) {
  background-color: #a6a6a6;
  color: #595959;
}
.container .fs div:nth-of-type(8) {
  background-color: #999999;
  color: #666666;
}
.container .fs div:nth-of-type(9) {
  background-color: #8c8c8c;
  color: #737373;
}
.container .fs div:nth-of-type(10) {
  background-color: gray;
  color: gray;
  background-color: blue;
  color: #cd0000;
  font-weight: bolder;
}
.container .fs div:nth-of-type(11) {
  background-color: #737373;
  color: #8c8c8c;
}
.container .fs div:nth-of-type(12) {
  background-color: #666666;
  color: #999999;
}
.container .fs div:nth-of-type(13) {
  background-color: #595959;
  color: #a6a6a6;
}
.container .fs div:nth-of-type(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
}
.container .fs div:nth-of-type(15) {
  background-color: #404040;
  color: #bfbfbf;
}
.container .fs div:nth-of-type(16) {
  background-color: #333333;
  color: #cccccc;
}
.container .fs div:nth-of-type(17) {
  background-color: #262626;
  color: #d9d9d9;
}
.container .fs div:nth-of-type(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.container .fs div:nth-of-type(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.container .footer {
  color: green;
  font-size: 1rem;
  place-items: center;
  text-align: center;
  width: 100%;
  grid-column: span 4;
  border: 0.125rem solid blue;
  padding: 2.5rem;
  margin: 1.875rem;
  width: 90%;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
